*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
form{
  margin: 0 auto;
  display: flex;
  width: 500px;
  justify-content: center;
  /* align-items: flex-start; */
  flex-direction: column;
}